# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GoraGora.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\shine\OneDrive\문서\GoraGora\.idea\.idea.GoraGora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
